*{
    margin: 2.9px;
    padding: 5px;
    box-sizing: border-box;
}

#header_data {
    background-color: black;
    width: 100%;
    height: 4rem;
    display: flex;
    justify-content: space-between;
}
.main_tag {
    text-decoration: none;
    color: white;
    font-size: 1.9rem;
    font-weight: 700;
}
.Login {
    text-decoration: none;
    color: black;
    font-size: .9rem;
    font-weight: 400;
    margin-right: 1rem;
    padding: .4rem 2rem;
    border-radius: 9px;
    border: 1px solid white;
    background-color: white;
    position: relative;
    top: .7rem;
    transition: all .2s linear;
    &:hover {
        color: white;
        background-color: transparent;
        transform: translateY(-4rem);
       }
}
.signup {
    text-decoration: none;
    color: white;
    font-size: .9rem;
    font-weight: 400;
    margin-right: 1rem;
    border: 1px solid white;
    padding: .4rem 2rem;
    border-radius: 14px;
    position: relative;
    top: .7rem;
    transition: all .2s linear;
   &:hover {
    color: black;
    background-color: #fff;
    transform: translateY(-4rem);
   }
}

.main_class {
    background-image: linear-gradient(to right bottom, #9f9ff0, #242ff1);
    padding: 9rem 0;
    display: flex;
    justify-content: space-evenly;
}

.left_part {
    color: white;
    background-color: #8b908b;
    padding: 4rem;
    border-radius: 4rem;
    border-left: 9px solid white;
    border-bottom: 9px solid white;
   &--sub_heading {
        text-align: center;
    }
}

.right_part {
    color: rgb(60, 61, 63);
    background-color: #7696c0;
    border-radius: 2rem;
    border: 1px solid white;
    text-align: center;
    font-size: 1.7rem;
    box-shadow: 1rem 2rem 1rem rgba(black, .2);
}

.signup_form {
    margin: 0 auto;
    background-color: rgb(195, 195, 195);
    // background-color: white;
    width: 45rem;
    // height: 24rem;
    border-radius: 9px;
    padding: 5rem 7rem;
    box-shadow: 1rem .9rem 1.9rem rgba(black, .4);
}

.form{
    font-size: 1.4rem;
    margin-right: 16rem;
}
.your_Name {
    width: 27rem;
    height: 2.7rem;
    padding: 0rem .9rem;
    font-size: 1rem;   
    margin-top: .9rem; 
    border: none;
    outline: none;
    border-radius: 4rem;
    background-color: #f7f7f7;
}

.form_label {
    padding: 4rem 0;
}

.form_button {
   position: relative;
   top: 2rem;
   text-decoration: none;
//    padding: .9rem 4rem;
    width: 9rem;
    height: 2.7rem;
    text-align: center;
    border-radius: 4px;
    border: none;
    outline: none;
    background-color: #55c57a;
    color: white;
    font-size: 1.4rem;
}

.student_list {
    &_heading {
        background-color: blue;
        padding: .9rem 28rem;
    }
}
table {
    border-spacing: 0px;
    // border-top: 1px solid black;
    // vertical-align: 20px;
    width: 100%;

   
}
.thead_dark  {
    background-color: rgb(10, 67, 149);
    color: white;
}
tr:hover {
    background-color: rgb(167, 230, 221);
}
.form_box {
    display: flex;
    justify-content: center;
}
.form_table_student {
    text-align: center;
}

table th, table td {
    padding: .75em;
    vertical-align: top;
    text-align: center;
    border-top: 1px solid black;
}

.new_student_label {
    font-size: 1.2rem;
    font-weight: 700;
    font-style: oblique;
    // padding: 4rem 0;
}

.new_student_input {
    width: 14rem;
    height: 2.9rem;
    font-size: 1rem;
    margin-left: 4rem;
    outline: none;
    border: none;
    border-bottom: 1px solid black;
}

#for_subject_text {
    left: -10px;
    position: relative;
}

.for_newStudent_submit {
    margin: 3rem 9rem;
    padding: .9rem 2rem;
    background-color: blue;
    outline: none;
    border-radius: 30px;
    border: none;
    color: white;
    font-size: 19px;
}