doctype html 
html
    head 
        style   
            include ../css/style.css
        title Student Data 
    body 
        include ./includes/nav.pug

        main.main_class 
            div.left_part 
                h1.left_part--sub_heading Student_Portal
                p. 
                    A student portal is an online gateway where
                p.
                    students can log into a school website to access important program information
            
            div.right_part 
                p. 
                    A student portal is an online gateway where
                p.
                    Student Data means any Personally Identifiable Information, whether gathered by Provider or provided by LEA or its users, students, or students’ parents/guardians, for a school purpose, that is descriptive of the student including, but not limited to, information in the student’s Educational Record or email, first and last name, home address, telephone number, email address, or other information allowing online contact, discipline records search activity, photos, voice recordings or geolocation information. 
               




